@font-face {
    font-family: 'bootstrap-icons';
    src: url('../fonts/bootstrap-icons.woff'), url('../fonts/bootstrap-icons.woff2');
}

@font-face {
    font-family: 'charlie';
    src: url('../fonts/CharlieDisplay-Regular.ttf');
}

body {
    font-family: 'charlie';
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(234, 230, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

header img {
    width: 120px;
}

main>.container {
    margin-top: 100px;
}