@font-face {
    font-family: 'bootstrap-icons';
    src: url('../fonts/bootstrap-icons.woff'), url('../fonts/bootstrap-icons.woff2');
}

@font-face {
    font-family: 'charlie';
    src: url('../fonts/CharlieDisplay-Regular.ttf');
}

* {
    font-family: 'charlie';
    font-size: 1.035em;
    letter-spacing: 0.05em;
}

header img {
    width: 125px;
}

header {
    font-size: 0.9em;
    letter-spacing: 0;
}

section:nth-child(1) {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(234, 230, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    padding-top: 10em;
}

h1 {
    font-size: 2.3em;
    font-weight: 600;
}

.form-controls-large * {
    height: 75px;
}

h2 {
    font-weight: 600;
    font-size: 1.7em;
}

.para-maniere-travail {
    padding: 0 130px;
}

.svg-blue {
    filter: invert(16%) sepia(11%) saturate(3708%) hue-rotate(180deg) brightness(86%) contrast(95%);
}